<p-toast key="changePwdToast"></p-toast>
<div class="main">
    <div class="col-md-8 offset-2 mt-5 change-pwd-form">
        <h2 class="h2 mb-4">Cambia Password</h2>
        <form *ngIf="changePwdForm !== undefined" [formGroup]="changePwdForm" class="needs-validation" (keydown.enter)="onSubmit($event)" (submit)="onSubmit($event)" novalidate>
            <div class="row g-3">
                <div class="col-md-4 offset-4">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="text" 
                        class="form-control" 
                        formControlName="password"
                        id="password" 
                        [ngClass]="changePwdForm.controls['password'].value != '' ? 
                                    !changePwdForm.controls['password'].valid && changePwdForm.controls['password'].dirty ? 
                                        'is-invalid' : 'is-valid' 
                                    : ''"
                        required
                        autocomplete="true">
                    <small class="validation-error" *ngIf="(changePwdForm.controls['password'].dirty || changePwdForm.controls['password'].value != '') && !isPwdValid(changePwdForm.controls['password'].value)">
                        La password non rispetta i criteri minimi richiesti:
                        <ul>
                            <li>Lunghezza compresa tra 8 e 50 caratteri</li>
                            <li>Almeno una maiuscola</li>
                            <li>Almeno una minuscola</li>
                            <li>Almeno una cifra fra 0 e 9</li>
                            <li>Almeno un carattere speciale tra {{"[@$!%*#?&]"}}</li>
                        </ul>
                    </small>
                    <small class="validation-error" *ngIf="(!changePwdForm.controls['password'].valid || !changePwdForm.controls['confirmPassword'].valid ) && 
                                                        changePwdForm.controls['password'].dirty && 
                                                        changePwdForm.controls['confirmPassword'].dirty && 
                                                        changePwdForm.controls['password'].value != changePwdForm.controls['confirmPassword'].value">
                        Le due password non coincidono.
                    </small>
                </div>
                <div class="col-md-4 offset-4">
                    <label for="confirmPassword" class="form-label">Conferma Password</label>
                    <input
                        type="text" 
                        class="form-control" 
                        formControlName="confirmPassword"
                        id="confirmPassword" 
                        [ngClass]="changePwdForm.controls['confirmPassword'].value != '' ? 
                                    !changePwdForm.controls['confirmPassword'].valid && changePwdForm.controls['confirmPassword'].dirty ? 
                                        'is-invalid' : 'is-valid' 
                                    : ''"
                        required
                        autocomplete="true">
                    <small class="validation-error" *ngIf="(changePwdForm.controls['confirmPassword'].dirty || changePwdForm.controls['confirmPassword'].value != '') && !isPwdValid(changePwdForm.controls['confirmPassword'].value)">
                        La password non rispetta i criteri minimi richiesti:
                        <ul>
                            <li>Lunghezza compresa tra 8 e 50 caratteri</li>
                            <li>Almeno una maiuscola</li>
                            <li>Almeno una minuscola</li>
                            <li>Almeno una cifra fra 0 e 9</li>
                            <li>Almeno un carattere speciale tra {{"[@$!%*#?&]"}}</li>
                        </ul>
                    </small>
                    <small class="validation-error" *ngIf="(!changePwdForm.controls['password'].valid || !changePwdForm.controls['confirmPassword'].valid ) && 
                                                        changePwdForm.controls['confirmPassword'].dirty && 
                                                        changePwdForm.controls['password'].dirty && 
                                                        changePwdForm.controls['password'].value != changePwdForm.controls['confirmPassword'].value">
                        Le due password non coincidono.
                    </small>
                </div>
                <div class="col-4 offset-4 text-center">
                    <button class="btn btn-primary" type="submit" [disabled]="!changePwdForm.valid" (click)="onSubmit($event)">Cambia Password</button>
                </div>
            </div>
        </form>
    </div>
</div>