<div class="header">
    <div class="menubar-container">
        <div class="menuitem" [ngClass]="isSelected(item) ? 'menuitem-active' : ''" *ngFor="let item of menuItems">
            <a (click)="handleClick(item)">
                <!-- <span [class]="item.icon"></span> -->
                <span class="ml-2">{{ item.text }}</span>
            </a>
        </div>
    </div> 
    <div class="user-profile">
        <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
</div>