.main {
    width: 100%;
}

.modify-password-form > h2 {
    text-align: center;
    font-weight: bold;
} 

.modify-password-form > form {
    width: 100%;
} 

.validation-error {
    color: red;
    font-size: small;
}