<p-toast key="modifyPasswordToast"></p-toast>
<div class="main">
    <div class="col-md-8 offset-2 mt-5 modify-password-form">
        <h2 class="h2 mb-4">Modifica Password</h2>
        <form *ngIf="modifyPwdForm !== undefined" [formGroup]="modifyPwdForm" class="needs-validation" (keydown.enter)="onSubmit($event)" (submit)="onSubmit($event)" novalidate>
            <div class="row g-3">
                <div class="col-md-4 offset-4">
                    <label for="name" class="form-label">Nome</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="name" 
                        id="name" 
                        [ngClass]="modifyPwdForm.controls['name'].value != '' ? 
                                    !modifyPwdForm.controls['name'].valid && modifyPwdForm.controls['name'].dirty ? 
                                        'is-invalid' : 'is-valid' 
                                    : ''"
                        required>
                    <small class="validation-error" *ngIf="!modifyPwdForm.controls['name'].valid && modifyPwdForm.controls['name'].dirty">
                        Inserire il nome della password.
                    </small>
                </div>
                <div class="col-md-4 offset-4">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="text" 
                        class="form-control" 
                        formControlName="password"
                        id="password" 
                        [ngClass]="modifyPwdForm.controls['password'].value != '' ? 
                                    !modifyPwdForm.controls['password'].valid && modifyPwdForm.controls['password'].dirty ? 
                                        'is-invalid' : 'is-valid' 
                                    : ''"
                        required>
                    <small class="validation-error" *ngIf="!modifyPwdForm.controls['password'].valid && modifyPwdForm.controls['password'].dirty">
                        Inserire la password.
                    </small>
                </div>
                <div class="col-md-4 offset-4">
                    <label for="username" class="form-label">Username</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="username" 
                        id="username"
                        [ngClass]="modifyPwdForm.controls['username'].value != '' ? 'is-valid' : ''">
                </div>
                <div class="col-md-4 offset-4">
                    <label for="email" class="form-label">Email</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="email" 
                        id="email"
                        [ngClass]="modifyPwdForm.controls['email'].value != '' ? 
                                    isEmailValid(modifyPwdForm.controls['email'].value) ? 
                                        'is-valid' : 'is-invalid' 
                                    : ''"
                        >
                    <small class="validation-error" *ngIf="modifyPwdForm.controls['email'].value != '' && !isEmailValid(modifyPwdForm.controls['email'].value)">
                        Email non valida.
                    </small>
                </div>
                <div class="col-md-4 offset-4">
                    <label for="passPhrase" class="form-label">Suggerimento</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="passPhrase" 
                        id="passPhrase"
                        [ngClass]="modifyPwdForm.controls['passPhrase'].value != '' ? 'is-valid' : ''">
                </div>
                <div class="col-md-4 offset-4">
                    <label for="isStarred" class="form-label">Metti come preferito:</label>
                    <input 
                        type="checkbox"
                        formControlName="isStarred" 
                        id="isStarred"
                        class="form-check-input"
                        >
                </div>
                <div class="col-md-4 offset-4">
                    <label for="service" class="form-label">Servizio:</label>
                    <select 
                        id="service"
                        formControlName="service"
                        class="form-select"
                        [ngClass]="modifyPwdForm.controls['service'].value != '' ? 
                                    !modifyPwdForm.controls['service'].valid && modifyPwdForm.controls['service'].dirty ? 
                                        'is-invalid' : 'is-valid' 
                                    : ''"
                        required>
                        <option value="{{serv.idService}}" *ngFor="let serv of services">{{serv.name}}</option>
                    </select>
                    <small class="validation-error" *ngIf="modifyPwdForm.controls['service'].value == '' && modifyPwdForm.controls['service'].dirty">
                        Selezionare un servizio.
                    </small>
                </div>
                <div class="col-4 offset-4 text-center">
                    <button class="btn btn-primary" type="submit" [disabled]="!modifyPwdForm.valid" (click)="onSubmit($event)">Salva</button>
                </div>
            </div>
        </form>
    </div>
</div>