.main {
    width: 100%;
}
/* 
.new-service-form {
    margin-top: 6em;
    padding: 5em 1em;
    display: flex;
    /* flex-direction: column; */
    /*align-items: center;
    border: 2px solid rgb(51, 47, 47);
    border-radius: 25px;
    background-color: #fffff9;
} */

/* it takes only the childs of .new-service-form, not every child element */
/* .new-service-form > * {
    margin: 1.5em;
} */

.new-service-form > h2 {
    text-align: center;
    font-weight: bold;
} 

.new-service-form > form {
    width: 100%;
} 

.validation-error {
    color: red;
    font-size: small;
}