.main {
    width: 100%;
}

.main td>button {
    margin: 0.5em;
}

table {
    width: 100%;
    text-align: center;
}

thead th {
    background-color: #0d6efd;
    color: white;
    font-weight: 600;
}

tbody td {
    vertical-align: middle;
}

.table-caption {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5em;
}

input[type="checkbox"] {
    transform: scale(1.3);
}

.service-name-col {
    width: 8em;
}

.email-col,
.password-col,
.username-col,
.name-col {
    width: 7em;
}

.actions-col,
.pass-phrase-col {
    width: 14em;
}