.main {
    width: 100%;
}

.modify-usertype-form > h2 {
    text-align: center;
    font-weight: bold;
} 

.modify-usertype-form > form {
    width: 100%;
} 

.validation-error {
    color: red;
    font-size: small;
}

.validity-input {
    margin-left: 1em;
}