<p-toast key="servicesToast"></p-toast>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Elimina Servizio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler eliminare il servizio "{{serviceToDelete == undefined ? '' : serviceToDelete.name}}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmDeleteService()">Elimina</button>
            </div>
        </div>
    </div>
  </div>
<div class="main">
    <div class="col-md-10 offset-1 mt-5">
        <div class="table-caption">
            <h2 class="h2 mb-4">{{pageTitle}}</h2>
            <div class="page-functionalities">
                <select #serviceTypeSelect id="serviceType" class="form-select" (change)="showSelectedServiceType(serviceTypeSelect.value)">
                    <option [selected]="selectedIdServiceType == 0 || selectedIdServiceType == undefined" value="0">Tutti</option>
                    <option [selected]="selectedIdServiceType == st.idServiceType" value="{{st.idServiceType}}" *ngFor="let st of serviceTypes">{{st.name}}</option>
                </select>
                <button type="button" class="btn btn-success" (click)="goToNewService()">Aggiungi Servizio</button>
            </div>
        </div>
        <p *ngIf="services?.length == 0">Nessun servizio presente per il tipo di servizio selezionato</p>
        <table class="table table-striped table-bordered" *ngIf="services?.length != 0">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo di Servizio</th>
                    <th scope="col">Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serv of services">
                    <td class="name-col">{{serv.name}}</td>
                    <td class="servicetype-name-col">{{serv.serviceTypeName}}</td>
                    <td class="actions-col">
                        <button type="button" class="btn btn-primary" (click)="modifyService(serv)"><mat-icon class="field-icon" svgIcon="edit"></mat-icon></button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" (click)="deleteService(serv)"><mat-icon class="field-icon" svgIcon="delete"></mat-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>