<p-toast key="passwordsToast"></p-toast>
<div class="main">
    <div class="col-md-10 offset-1 mt-5">
        <div class="table-caption">
          <h2 class="h2 mb-4">{{pageTitle}}</h2>
          <div class="page-functionalities">
            <select #serviceSelect id="service" class="form-select" (change)="showSelectedService(serviceSelect.value)">
                <option [selected]="selectedIdService == 0 || selectedIdService == undefined" value="0">Tutti</option>
                <option [selected]="selectedIdService == serv.idService" value="{{serv.idService}}" *ngFor="let serv of services">{{serv.name}}</option>
            </select>
            <button type="button" class="btn btn-primary" (click)="showStarred()">{{showOnlyStarred ? 'Vedi Tutti' : 'Vedi Preferiti'}}</button>
            <button type="button" class="btn btn-success" (click)="goToNewPassword()">Aggiungi Password</button>
          </div>
        </div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Servizio</th>
              <th scope="col">Suggerimento</th>
              <th scope="col">Preferito</th>
              <th scope="col">Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pwd of passwords">
              <td class="name-col">{{pwd.name}}</td>
              <td class="username-col">{{pwd.username == '' ? '-' : pwd.username}}</td>
              <td class="email-col">{{pwd.email == '' ? '-' : pwd.email}}</td>
              <td class="password-col">{{pwd.showed ? pwd.password : '********'}}</td>
              <td class="service-name-col">{{pwd.serviceName}}</td>
              <td class="pass-phrase-col">{{pwd.passPhrase == '' ? '-' : pwd.passPhrase}}</td>
              <td class="is-starred-col"><input class="form-check-input position-static" [id]="'isStarred'+pwd.idPassword" type="checkbox" [disabled]="true" [checked]="pwd.isStarred"/></td>
              <td class="actions-col">
                  <button type="button" class="btn btn-primary" (click)="showPassword(pwd)"><mat-icon class="field-icon" [svgIcon]="pwd.showed ? 'hide-password' : 'show-password'"></mat-icon></button>
                  <button type="button" class="btn btn-primary" (click)="modifyPassword(pwd)"><mat-icon class="field-icon" svgIcon="edit"></mat-icon></button>
                  <button type="button" class="btn btn-danger" (click)="deletePassword(pwd)"><mat-icon class="field-icon" svgIcon="delete"></mat-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>