<p-toast key="passwordsToast"></p-toast>
<div class="main">
    <div class="col-md-10 offset-1 mt-5">
        <h2 class="h2 mb-4">Lista delle Password</h2>
        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Servizio</th>
                <th scope="col">Suggerimento</th>
                <th scope="col">Preferito</th>
                <th scope="col">Azioni</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pwd of passwords">
                <td>{{pwd.name}}</td>
                <td>{{pwd.username == '' ? '-' : pwd.username}}</td>
                <td>{{pwd.email == '' ? '-' : pwd.email}}</td>
                <td>{{pwd.showed ? pwd.password : '********'}}</td>
                <td>{{pwd.serviceName}}</td>
                <td>{{pwd.passPhrase == '' ? '-' : pwd.passPhrase}}</td>
                <td><input class="form-check-input position-static" [id]="'isStarred'+pwd.idPassword" type="checkbox" [disabled]="true" [checked]="pwd.isStarred"/></td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="showPassword(pwd)">Show Password</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>