.main {
    width: 100%;
}

.main td, th {
    vertical-align: middle;
    text-align: center;
}

.table-caption {
    display: flex;
    justify-content: space-between;
}

.table-caption > button {
    height: 2.5em;
}