<p-toast key="loginToast" />
<div class="col-md-6 offset-3 login-form">
    <h3 class="h3">Login</h3>
    <form [formGroup]="loginForm" class="row g-3 needs-validation" (keydown.enter)="onSubmit($event)" (submit)="onSubmit($event)" novalidate>
        <div class="col-md-4 offset-4">
            <label for="username" class="form-label">Username</label>
            <!-- <div class="input-group has-validation"> -->
            <!-- <span class="input-group-text" id="inputGroupPrepend">&#64;</span> -->
            <!-- removed from input: aria-describedby="inputGroupPrepend" -->
            <input 
                type="text" 
                class="form-control" 
                formControlName="username" 
                id="username" 
                [ngClass]="!loginForm.controls['username'].valid && loginForm.controls['username'].dirty ? 'is-invalid' : 'is-valid'"
                required>
            <small class="validation-error" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].dirty">
                Please insert the username.
            </small>
          <!-- </div> -->
        </div>
        <div class="col-md-4 offset-4">
            <label for="password" class="form-label">Password</label>
            <input
                type="password" 
                class="form-control" 
                formControlName="password"
                id="password" 
                [ngClass]="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty ? 'is-invalid' : 'is-valid'"
                required>
            <small class="validation-error" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty">
                Please insert the password.
            </small>
        </div>
        <div class="col-4 offset-4 text-center">
            <button class="btn btn-primary" type="submit" (click)="onSubmit($event)">Login</button>
        </div>
    </form>
</div>
