<p-toast key="newPasswordToast"></p-toast>
<div class="main">
    <div class="col-md-8 offset-2 mt-5 new-password-form">
        <h2 class="h2 mb-4">Nuova Password</h2>
        <form [formGroup]="newPwdForm" class="needs-validation" (keydown.enter)="onSubmit($event)" (submit)="onSubmit($event)" novalidate>
            <div class="row g-3">
                <div class="col-md-4 offset-4">
                    <label for="name" class="form-label">Nome</label>
                    <!-- <div class="input-group has-validation"> -->
                    <!-- <span class="input-group-text" id="inputGroupPrepend">&#64;</span> -->
                    <!-- removed from input: aria-describedby="inputGroupPrepend" -->
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="name" 
                        id="name" 
                        [ngClass]="newPwdForm.controls['name'].value != '' ? 
                                    !newPwdForm.controls['name'].valid && newPwdForm.controls['name'].dirty ? 
                                        'is-invalid' : 'is-valid' 
                                    : ''"
                        required>
                    <small class="validation-error" *ngIf="!newPwdForm.controls['name'].valid && newPwdForm.controls['name'].dirty">
                        Inserire il nome della password.
                    </small>
                <!-- </div> -->
                </div>
                <div class="col-md-4 offset-4">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="text" 
                        class="form-control" 
                        formControlName="password"
                        id="password" 
                        [ngClass]="newPwdForm.controls['password'].value != '' ? 
                                    !newPwdForm.controls['password'].valid && newPwdForm.controls['password'].dirty ? 
                                        'is-invalid' : 'is-valid' 
                                    : ''"
                        required>
                    <small class="validation-error" *ngIf="!newPwdForm.controls['password'].valid && newPwdForm.controls['password'].dirty">
                        Inserire la password.
                    </small>
                </div>
                <div class="col-md-4 offset-4">
                    <label for="username" class="form-label">Username</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="username" 
                        id="username"
                        [ngClass]="newPwdForm.controls['username'].value != '' ? 'is-valid' : ''">
                </div>
                <div class="col-md-4 offset-4">
                    <label for="email" class="form-label">Email</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="email" 
                        id="email"
                        [ngClass]="newPwdForm.controls['email'].value != '' ? 
                                    isEmailValid(newPwdForm.controls['email'].value) ? 
                                        'is-valid' : 'is-invalid' 
                                    : ''"
                        >
                    <small class="validation-error" *ngIf="newPwdForm.controls['email'].value != '' && !isEmailValid(newPwdForm.controls['email'].value)">
                        Email non valida.
                    </small>
                </div>
                <div class="col-md-4 offset-4">
                    <label for="passPhrase" class="form-label">Suggerimento</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="passPhrase" 
                        id="passPhrase"
                        [ngClass]="newPwdForm.controls['passPhrase'].value != '' ? 'is-valid' : ''">
                </div>
                <div class="col-md-4 offset-4">
                    <label for="isStarred" class="form-label">Metti come preferito:</label>
                    <input 
                        type="checkbox"
                        formControlName="isStarred" 
                        id="isStarred"
                        class="form-check-input"
                        >
                </div>
                <div class="col-md-4 offset-4">
                    <label for="service" class="form-label">Servizio:</label>
                    <select 
                        id="service"
                        formControlName="service"
                        class="form-select"
                        [ngClass]="newPwdForm.controls['service'].value != '0' ? 
                                    !newPwdForm.controls['service'].valid && newPwdForm.controls['service'].dirty ? 
                                        'is-invalid' : 'is-valid' 
                                    : ''"
                        required>
                        <option selected value="0">-</option>
                        <option value="{{serv.idService}}" *ngFor="let serv of services">{{serv.name}}</option>
                    </select>
                    <small class="validation-error" *ngIf="newPwdForm.controls['service'].value == '0' && newPwdForm.controls['service'].dirty">
                        Selezionare un servizio.
                    </small>
                </div>
                <div class="col-4 offset-4 text-center">
                    <button class="btn btn-primary" type="submit" (click)="onSubmit($event)">Aggiungi Password</button>
                </div>
            </div>
        </form>
    </div>
</div>