.main {
    /* width: 95%; */
    /* tolto width perché allarga troppo l'elemento e fa apparire la scrollbar orizzontale*/
    height: 100%;
    margin: 2em;
    padding: 2em;
}

.main h2 {
    font-size: 2em;
    font-weight: bold;
}

.section {
    margin-bottom: 1.5em;
    width: 100%;
}

.section h2 {
    padding-left: 0.1em;
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 1.5em;
    color: #333;
}

.section p {
    padding-left: 0.2em;
}

.starred-card, .service-card {
    width: 16em;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.starred-card > *, .service-card > * {
    padding: 0.5em;
}

.starred-card:hover, .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

h4 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    color: #0d6efd;
}

.see-more {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
    margin-top: 1em;
}

.see-more > * {
    width: 10em;
}

.see-more button {
    background-color: #0d6efd;
}